* {
    box-sizing: border-box;
}

:root {
    --grey-color: #e5e5e5;
    --grey-secondary: #e7e5eb;
    --white-color: #fff;
    --black-color: #333;
    --text-grey: #b0b0b0;
    --border-color: #c8c5d1;
    --firm-color: #9873ff;
    --hover-color: #b89eff;
    --active-color: #8052ff;
    --red-color: #f06a4d;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), url(../fonts/OpenSans-Regular.woff2) format('woff2'), url(../fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans'), url(../fonts/OpenSans-Bold.woff2) format('woff2'), url(../fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans'), url(../fonts/OpenSans-SemiBold.woff2) format('woff2'), url(../fonts/OpenSans-SemiBold.woff) format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--grey-color);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--firm-color);
}

body::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: transparent;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1366px;
}


/* -------- HEADER -------- */

.header {
    background-color: var(--white-color);
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 53px;
    width: 50px;
    height: 50px;
}

.header__input {
    padding: 12px 16px;
    width: 581px;
    font-size: 14px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
}

input[type=text]::-mfw600s-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header__search {
    position: relative;
}

.search__window {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-top: none;
    z-index: 999;
}

.search__list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
}

.search__item {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    outline: none;
    cursor: pointer;
}

.search__link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 12px 16px;
    width: 100%;
    font-size: 14px;
    color: var(--black-color);
    z-index: 1;
}

.search__link::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--hover-color);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease;
}

.no-found {
    padding: 12px 16px;
    display: inline-block;
    width: 100%;
    pointer-events: none;
    border: none;
    cursor: default;
}

.search__client {
    animation: active_client 2s linear;
}

@keyframes active_client {
    0% {
        background-color: var(--hover-color);
    }
    100% {
        background-color: var(--white-color);
    }
}

.autocomplete-active {
    background-color: var(--hover-color);
}

.autocomplete-active>a {
    color: var(--white-color);
}


/* -------- MAIN -------- */

.main__container {
    margin-top: 40px;
}

.main__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 33px;
    color: var(--black-color);
}

.main__table {
    width: 100%;
}

.table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.table__title {
    padding-left: 10px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-grey);
    text-align: left;
    transition: color .3s ease;
    cursor: pointer;
}

#table__ID {
    padding-left: 20px;
}

#table__name {
    white-space: nowrap;
}

.table__title--contacts,
.table__title--action {
    cursor: default;
}

.active-title {
    color: var(--firm-color)
}

.span__id {
    display: inline-block;
    line-height: 16px;
}

.span__name {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    color: var(--firm-color);
}

#table__ID.ascending .svg__id {
    transform: rotate(180deg);
}

#table__name.ascending .svg__name {
    transform: rotate(180deg);
}

#table__date-create.ascending .svg__create {
    transform: rotate(180deg);
}

#table__date-update.ascending .svg__update {
    transform: rotate(180deg);
}

.table-row {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}

.table__element {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 19px;
    color: var(--black-color);
}

.id {
    padding-left: 20px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-grey);
}

.create__block,
.update__block {
    display: flex;
}

.date-create,
.date-update {
    margin-right: 7px;
}

.time-create,
.time-update {
    color: var(--text-grey);
}

.contact-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 114px;
}

.contact__item {
    position: relative;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.contact__item:nth-child(5n) {
    margin-right: 0;
}

.contact__item:nth-child(n+5) {
    margin-bottom: 0;
}

.contact__tultip {
    position: absolute;
    top: -24px;
    left: 50%;
    display: none;
    padding: 7px 14px;
    font-size: 12px;
    line-height: 16px;
    color: var(--white-color);
    white-space: nowrap;
    transform: translate(-50%, -50%);
    background-color: var(--black-color);
}

.tultip::before {
    position: absolute;
    bottom: -7px;
    left: 49%;
    content: '';
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translateX(-50%);
    background-color: var(--black-color);
    z-index: -1;
}

.tultip__type {
    font-weight: 400;
}

.tultip__value {
    text-decoration: none;
    font-weight: 700;
    color: var(--white-color);
}

.contact__item:hover .contact__tultip {
    display: block;
}

.contact-tel {
    background-image: url(../images/icon/phone.svg);
}

.contact-email {
    background-image: url(../images/icon/mail.svg);
}

.contact-facebook {
    background-image: url(../images/icon/fb.svg);
}

.contact-vk {
    background-image: url(../images/icon/vk.svg);
}

.contact-other {
    background-image: url(../images/icon/other.svg);
}

.hide-contact {
    display: none;
}

.contact__counter {
    margin-right: 0;
    font-size: 8px;
    line-height: 14px;
    font-weight: 600;
    color: var(--black-color);
    text-align: center;
    border: 1px solid var(--firm-color);
    border-radius: 50%;
}

.action {
    padding-right: 20px;
}

.action__block {
    display: flex;
}

.table-btn {
    all: unset;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    transition: color .3s ease;
}

.btn-update {
    margin-right: 32px;
}

.table-span {
    position: absolute;
    content: '';
    left: 0;
    top: 4px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.spanUpdateBtn {
    background-image: url(../images/icon/edit.svg);
}

.spanDeleteBtn {
    background-image: url(../images/icon/cancel.svg);
}

.main__btn {
    all: unset;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 12.5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: var(--firm-color);
    text-align: center;
    border: 1px solid var(--firm-color);
    cursor: pointer;
    transition: background .3s ease, color .3s ease;
}

.btn__span {
    margin-right: 10px;
    display: block;
    width: 22px;
    height: 16px;
}

.btn__svg {
    width: 100%;
}

.btn__svg path {
    transition: fill .3s ease;
}


/* ---- Spinner ---- */

.table__spinner {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: var(--white-color);
}

.spinner__table {
    display: block;
    width: 72px;
    height: 72px;
    border-top: 8px solid var(--firm-color);
    border-right: 8px solid var(--firm-color);
    border-bottom: 8px solid var(--firm-color);
    border-left: 8px solid transparent;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}


/* ---- Add Client Window ---- */

.add-client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, .7);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    -webkit-transition: visibility .5s ease-out, opacity .5s ease-in-out;
    -moz-transition: visibility .5s ease-out, opacity .5s ease-in-out;
    -o-transition: visibility .5s ease-out, opacity .5s ease-in-out;
    transition: visibility .5s ease-out, opacity .5s ease-in-out;
}

.active-window {
    visibility: visible;
    opacity: 1;
}

.add-client__window {
    position: fixed;
    top: -100%;
    left: 50%;
    width: 450px;
    max-width: 100%;
    max-height: 90%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    opacity: 0;
    overflow: auto;
    -webkit-transition: top .5s ease-in-out, opacity .5s ease;
    -moz-transition: top .5s ease-in-out, opacity .5s ease;
    -o-transition: top .5s ease-in-out, opacity .5s ease;
    transition: top .5s ease-in-out, opacity .5s ease;
}

.active {
    top: 50%;
    opacity: 1;
}

.add-client__window::-webkit-scrollbar {
    width: 5px;
    background-color: var(--white-color);
}

.add-client__window::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--firm-color);
}

.add-client__window::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: var(--white-color);
}

.add-client__content {
    position: relative;
    padding: 24px 30px;
}

.modal__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    color: var(--black-color);
}

.modal__close {
    all: unset;
    position: absolute;
    display: block;
    top: 22px;
    right: 22px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--border-color);
    transform: rotate(45deg);
}

.close::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: var(--border-color);
    transform: rotate(90deg);
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.form__lable {
    position: relative;
    display: block;
}

.form__lable--span {
    position: absolute;
    left: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-grey);
    transform: translateY(6px);
    transition: all .2s linear;
    cursor: text;
    z-index: -1;
}

.form__input {
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: var(--black-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-color);
    outline: none;
}

.form__input:focus+.form__lable--span,
.form__input:valid+.form__lable--span {
    font-size: 10px;
    line-height: 14px;
    transform: translateY(-10px);
}

.span__star {
    color: var(--firm-color);
}

.add-contact {
    margin-bottom: 25px;
    padding: 25px 30px;
    background: rgba(200, 197, 209, .3);
}

.add-contact__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.add-contact__item {
    position: relative;
    display: flex;
    margin-bottom: 25px;
}

.add-contact__select {
    position: relative;
    padding: 10px 12px;
    width: 123px;
    text-align: left;
    background-color: var(--grey-secondary);
    border: 1px solid var(--border-color);
    border-right: none;
}

.select-value {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    cursor: pointer;
}

.select-span {
    position: absolute;
    content: '';
    top: 50%;
    right: 5%;
    width: 5px;
    height: 5px;
    border-top: 1px solid var(--firm-color);
    border-left: 1px solid var(--firm-color);
    transform: translate(-50%, -50%) rotate(-135deg);
    transition: transform .3s ease;
}

.select-span.active {
    transform: translate(-50%, -50%) rotate(45deg);
}

.add-contact__dropdown {
    list-style: none;
    position: absolute;
    top: 36px;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
    width: 123px;
    text-align: left;
    background-color: #f4f3f6;
    border: 1px solid var(--border-color);
    z-index: 999;
}

.dropdown-item {
    padding: 10px 12px;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}

.add-contact__input {
    padding: 8px 12px;
    width: 240px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: var(--black-color);
    background: transparent;
    border: 1px solid var(--border-color);
    border-right: none;
    outline: none;
}

.add-contact__input::placeholder {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: var(--text-grey);
}

.add-contact__btn {
    all: unset;
    position: relative;
    width: 27px;
    background-color: var(--grey-secondary);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: border .3s ease;
}

.add-contact__spanBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-image: url(../images/icon/cancel-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
    transition: background .3s ease;
}

.tultip__del {
    left: -70%;
}

.tultip__del::before {
    left: 72%;
}

.active-dropdown {
    display: block;
}

.modal__add-contact {
    all: unset;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: var(--black-color);
    cursor: pointer;
    transition: color .3s ease;
}

.modal__add-contact.hide {
    display: none;
}

.add-contact__span {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.add-contact__svg,
.add-contact__svg--hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease;
}

.add-contact__svg--hover {
    opacity: 0;
    margin-top: 1px;
    margin-left: 1px;
}

.add-client__errors {
    margin: 0 auto;
    margin-bottom: 9px;
    max-width: 255px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: var(--red-color);
}

.validation-error {
    border-color: var(--red-color);
}

.modal__btn {
    all: unset;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12.5px 35px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--firm-color);
    cursor: pointer;
    transition: background .3s ease;
}

.modal__small-btn {
    all: unset;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}


/* ---- Delete Client Window ---- */

.delete-client__window {
    position: fixed;
    top: -150%;
    left: 50%;
    padding-top: 22px;
    width: 450px;
    max-width: 90%;
    height: auto;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    opacity: 0;
    -webkit-transition: top .5s ease-in-out, opacity .5s ease;
    -moz-transition: top .5s ease-in-out, opacity .5s ease;
    -o-transition: top .5s ease-in-out, opacity .5s ease;
    transition: top .5s ease-in-out, opacity .5s ease;
}

.delete-client__window.active {
    top: 50%;
    opacity: 1;
}

.delete-client__title {
    margin-bottom: 11px;
}

.modal__text {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 275px;
}


/* ---- Change Client Window ---- */

.change-client__window {
    position: fixed;
    top: -150%;
    left: 50%;
    padding-top: 22px;
    width: 450px;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    opacity: 0;
    overflow: auto;
    -webkit-transition: top .5s ease-in-out, opacity .5s ease;
    -moz-transition: top .5s ease-in-out, opacity .5s ease;
    -o-transition: top .5s ease-in-out, opacity .5s ease;
    transition: top .5s ease-in-out, opacity .5s ease;
}

.change-client__window.active {
    top: 50%;
    opacity: 1;
}

.change-client__window::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.change-client__window::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--firm-color);
}

.change-client__window::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: transparent;
}

.change-client__content {
    padding-left: 30px;
    padding-right: 30px;
}

.title-id__block {
    display: flex;
    align-items: center;
}

.change-client__title {
    margin-right: 9px;
    margin-bottom: 0;
    text-align: left;
}

.change-client__id {
    padding-top: 3px;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text-grey);
}

.change-client__form {
    margin-top: 15px;
}

.change-client__label {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    color: var(--text-grey);
}

.change-client__label:not(:last-child) {
    margin-bottom: 15px;
}

.change-client__label:last-child {
    margin-bottom: 26px;
}

.lable__text {
    margin: 0;
}

.change-client__span {
    color: var(--firm-color);
}

.change-client__input {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
}

.add-client__block,
.change-client__block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    opacity: .5;
}

.change-client__block.hide,
.add-client__block.hide {
    display: none;
}


/* --- Spinners --- */

.spinner {
    display: none;
    width: 12px;
    height: 12px;
    text-align: center;
    border-radius: 50%;
    border-top: 2px solid var(--hover-color);
    border-right: 2px solid var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
    border-left: 2px solid transparent;
    animation: spinner 1s linear infinite;
}

.show {
    display: inline-block;
}

.spinner__delete {
    border-top: 2px solid var(--red-color);
    border-right: 2px solid var(--red-color);
    border-bottom: 2px solid var(--red-color);
}


/* ------ ADAPTABILITY ------ */

@media (max-width: 1024px) {
    #table__date-create {
        max-width: 82px;
    }
    #table__date-update {
        max-width: 90px;
    }
}

@media (min-width: 993px) {
    /*--Header --*/
    .search__item:hover .no-found {
        background-color: var(--white-color);
    }
    .search__item:hover,
    .search__item:focus {
        background-color: var(--hover-color);
    }
    .no-found:hover {
        background-color: var(--white-color);
    }
    .search__link:focus {
        color: var(--white-color);
        outline: none;
    }
    .search__link:focus.search__link::before {
        opacity: 1;
    }
    /* -- Main -- */
    #table__ID:hover,
    #table__name:hover,
    #table__date-create:hover,
    #table__date-update:hover {
        color: var(--black-color);
    }
    .contact-tel:hover {
        background-image: url(../images/icon/phone-hover.svg);
    }
    .contact-email:hover {
        background-image: url(../images/icon/mail-hover.svg);
    }
    .contact-facebook:hover {
        background-image: url(../images/icon/fb-hover.svg);
    }
    .contact-vk:hover {
        background-image: url(../images/icon/vk-hover.svg);
    }
    .contact-other:hover {
        background-image: url(../images/icon/other-hover.svg);
    }
    .btn-update:hover {
        color: var(--firm-color);
    }
    .btn-delete:hover {
        color: var(--red-color);
    }
    .main__btn:hover,
    .main__btn:focus {
        color: var(--white-color);
        background-color: var(--hover-color);
    }
    .main__btn:active {
        background-color: var(--active-color);
    }
    .main__btn:hover .btn__svg path,
    .main__btn:focus .btn__svg path {
        fill: var(--white-color)
    }
    .modal__add-contact:hover {
        color: var(--firm-color);
    }
    .modal__add-contact:hover .add-contact__svg {
        opacity: 0;
    }
    .modal__add-contact:hover .add-contact__svg--hover {
        opacity: 1;
    }
    .modal__btn:hover {
        background-color: var(--hover-color);
    }
    .modal__btn:active {
        background-color: var(--active-color);
    }
    .dropdown-item:hover {
        background-color: rgba(231, 229, 235, .5);
    }
    .add-contact__btn:hover .tultip {
        display: block;
        font-weight: 700;
    }
    .add-contact__btn:hover {
        border: 1px solid var(--red-color);
    }
    .add-contact__btn:hover .add-contact__spanBtn {
        background-image: url(../images/icon/cancel-red.svg);
    }
}

@media (max-width: 992px) {
    .create__block,
    .update__block {
        flex-direction: column;
    }
    .action {
        padding-right: 10px;
    }
    .action__block {
        flex-direction: column;
    }
    .btn-update {
        margin-right: 0;
    }
    /* -- Spinner -- */
    .spinner__table {
        width: 36px;
        height: 36px;
        border-width: 4px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
    /* -- Header -- */
    .header__container {
        justify-content: center;
        padding: 8px;
    }
    .header__logo {
        margin: 0;
        width: 24px;
        height: 24px;
    }
    .header__search {
        display: none;
    }
    /* -- Main -- */
    .main__container {
        margin-top: 30px;
    }
    .main__title {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 25px;
    }
    .main__table {
        overflow-y: scroll;
    }
    .main__table::-webkit-scrollbar {
        width: 0;
    }
    .add-client__window {
        width: 90%;
    }
    .add-client__content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .add-contact {
        padding-left: 15px;
        padding-right: 15px;
    }
    .add-contact__select {
        flex: 0 0 110px;
    }
    .add-contact__dropdown {
        width: 110px;
    }
    .add-contact__input {
        flex-grow: 1;
        padding-right: 0;
        width: 100%;
    }
    .add-contact__btn {
        flex: 0 0 27px;
    }
    .title-id__block {
        align-items: flex-start;
        flex-direction: column;
    }
    .change-client__content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .modal__close {
        top: 10px;
        right: 10px;
    }
    .modal__text {
        font-size: 14px;
    }
}